<style type="text/css">
    .header {
        background-color: #3e4351;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    .header_img {
        width: 700px;
        margin-left: 20px;
    }
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        margin-top: 12px;
        padding: 15px;
    }
    .imageFile {
        width: 150px;
        height: auto;
        margin-left: 17px;
    }

    #imageUploadFile {
        width: 98.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        height: 30px;
        line-height: 0px;
        padding-left: 15px;
        padding-top: 5px;
    }
    #submit-html-button{
        margin-left: 190px;
    }
    #separator {
        width: 99%;
        height: 1px;
        border-top: 2px dashed;
        border-color: #AFAFAF;
        margin-bottom: 10px;
        margin-top: 15px;
    }

</style>

<div class="header">
    <div class="header_img"><img src="img/header.png"></div>
</div>
<div class="content">

    <div class="well bs-component live-less-editor-hovercontainer" data-relatedvars="legend-color,legend-border-color,input-color,input-height-base,input-bg,input-border,input-border-radius,input-border-focus,input-color-placeholder,input-bg-disabled,input-height-small,input-height-large,state-success-text,state-success-bg,state-warning-text,state-warning-bg,state-danger-text,state-danger-bg,input-group-addon-bg,input-group-addon-border-color,input-border-radius-large,input-border-radius-small">
        <form class="form-horizontal" ng-submit="getTag()">
            <fieldset>
                <div class="form-group">
                    <label for="inputFileName" class="col-lg-2 control-label">Project Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputFileName" ng-model="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Flash Tag</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="flashTag" ng-model="flash">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">HTML Tag (optional)</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="htmlTag" ng-model="html">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTitle" ng-model="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="DescriptionArea" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="DescriptionArea" ng-model="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imageUploadFile" class="col-lg-2 control-label">Image</label>
                    <input type="file" id="imageUploadFile" class="_imageUploadFile" name="pic" accept="image/*" ng-model="image"
                           ng-file-select="onFileSelect($files)">
                    <img class="imageFile"/>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-primary" id="submit-html-button" ng-model="button" ng-disabled="sending">Submit</button>
                    </div>
                </div>
                <div id="separator"></div>
                <div class="form-group html-result">
                    <label for="inputFileName" class="col-lg-2 control-label">Embed Tag</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="HtmlResult" value="{{embedTag}}" ng-model="embedTag">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
